body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f2f2f2;
    font-size: 1em;
    color: #212121;
    line-height: 20/16em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: sans-serif;
}

.post_body {
    margin: 2rem 0;
    background: white;
    padding: 1rem;
}
a {
  color: #2177af;
  -webkit-tap-highlight-color: rgba(33, 119, 175, 0.25);
}
.attach_block {
    display: inline-block;
    padding-left: 56/16rem;
    padding-top: 4/16rem;
    padding-bottom: 4/16rem;
    padding-right: 8/16rem;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: text-bottom;
    text-decoration: none;
    //margin-bottom: 8/16rem;
    //margin: 0 4/16rem;
    //margin-bottom: 4/16rem;
    border: 1px solid fade(#2177af, 10%);
    background: fade(#2177af, 5%);
    border-radius: 2/16rem;
    .icon {
        position: absolute;
        top: 4/16rem;
        left: 4/16rem;
        height: 40/16rem;
        width: 40/16rem;
        background: red;
        border-radius: 100%;
        background: currentColor;
        &:after {
            content: "";
            position: absolute;
            height: 40/16rem;
            width: 40/16rem;
            background-color: white;
            -webkit-mask: url(../../forpda/res/file.svg) no-repeat center center;
            -webkit-mask-size: 20/16em 20/16em;
        }
    }
    .title {
        //white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        display: block;
    }
    .desc {
        font-size: 14/16rem;
        color: fade(#000, 54%);
        display: block;
        font-weight: normal;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.post-block {
    position: relative;
    //padding-left: 24/16rem;
    margin: 8/16rem 0;
    .block-title {
        //outline: 1px solid red;
        font-weight: bold;
        font-size: 14/16rem;
        padding: 8/16rem 8/16rem;
        &:before {
            content: "Код: ";
        }
        .buttons {
            float: right;
            margin: -8/16rem -8/16rem;
            margin-left: 8/16rem;
            .btn {
                float: right;
                height: 28/16rem;
                width: 28/16rem;
                margin: 4/16rem;
                background: red;
                border-radius: 2px;
            }
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .block-body {
        font-family: monospace;
        position: relative;
        padding-left: 40/16rem;
        .numbers {
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 28/16rem;
            border-right: 4/16rem solid green;
            font-family: monospace;
            text-align: center;
            margin-right: 8/16rem;
            box-sizing: content-box;
            div {
                display: none;
            }
        }
        .lines {
            counter-reset: line;
            overflow: hidden;
            overflow-x: auto;
            white-space: nowrap;
            word-break: normal;
            word-wrap: normal;
            >span {
                display: block;
                counter-increment: list;
                &:before {
                    content: counter(list);
                    position: absolute;
                    left: 0;
                    width: 28/16rem;
                    text-align: center;
                }
            }
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
