@charset "UTF-8";
@pollRangeBg: rgba(128, 128, 128, 0.2);
.fs(@pt) {
    font-size: (@pt * 1.5)/16em!important;
    line-height: 1.25em!important;
}

.fsi {
    font-size: inherit!important
}

[style*="font-size:36pt"] {
    .fs(36);
    * {
        .fsi;
    }
}

[style*="font-size:24pt"] {
    .fs(24);
    * {
        .fsi;
    }
}

[style*="font-size:18pt"] {
    .fs(18);
    * {
        .fsi;
    }
}

[style*="font-size:14pt"] {
    .fs(14);
    * {
        .fsi;
    }
}

[style*="font-size:12pt"] {
    .fs(12);
    * {
        .fsi;
    }
}

[style*="font-size:10pt"] {
    .fs(10);
    * {
        .fsi;
    }
}

[style*="font-size:8pt"] {
    .fs(8);
    * {
        .fsi;
    }
}

[style*="font-size:9px"] {
    line-height: 1.25em!important;
    font-size: 12/16em!important;
}

HTML {
    font-size: 1rem;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: @background;
    font-family: @font;
    font-size: 1em;
    color: @textColor;
    line-height: 20/16em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
    //text-decoration: none;
    color: @linkColor;
    -webkit-tap-highlight-color: fade(@linkColor, 25%);
}

* {
    box-sizing: border-box;
}

li {
    .post-block {
        &.spoil,
        &.hidden {
            .bRad(2px);
            margin-left: 0!important;
            margin-right: 0!important;
            border-left: @border1;
            border-right: @border1;
        }
    }
}

.post-block {
    margin: 0.5rem -1rem;
    position: relative;
    border-top: @border1;
    border-bottom: @border1;
    background: @postBlockBg;
    >.block-title {
        padding: 0.875rem;
        position: relative;
        z-index: 2;
        font-weight: bold;
        text-align: left!important;
        min-height: 3rem;
        font-size: 14/16rem;
        line-height: 1.25rem;
        //text-transform: uppercase;
        color: #000!important;
    }
    >.block-body {
        padding: 0.5rem 1rem 1rem 1rem;
        position: relative;
        z-index: 1;
    }
    &.spoil {
        >.block-title {
            padding-right: 40/16rem;
            color: #000;
            * {
                color: #000!important;
                font-size: 1em!important;
                font-style: normal!important;
                line-height: 1.25rem!important;
            }
            &:first-letter {
                text-transform: uppercase;
            }
            &.empty {
                &:before {
                    content: "Спойлер";
                }
            }
            &:active {
                .icon:before {
                    opacity: 0.05;
                    -webkit-transform: scale(1) translateZ(0);
                    transform: scale(1) translateZ(0);
                }
                background: @tapColor;
            }
            &:before {
                //position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                //padding: 0.875rem;
                box-sizing: border-box;
            }
            .icon {
                height: 48/16rem;
                width: 40/16rem;
                position: absolute;
                right: 0;
                top: 0;
                -webkit-transition: 0.225s @curveStandard;
                transition: 0.225s @curveStandard;
                -webkit-transform-origin: center;
                transform-origin: center;
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -4/16rem;
                    margin-top: -4/16rem;
                    border-left: @borderInput;
                    border-bottom: @borderInput;
                    box-sizing: border-box;
                    height: 8/16rem;
                    width: 8/16rem;
                    border-color: #000;
                    -webkit-transform: rotate(-45deg) translateY(-1/16rem) translateX(1/16rem);
                    transform: rotate(-45deg) translateY(-1/16rem) translateX(1/16rem);
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -16/16rem;
                    margin-top: -16/16rem;
                    height: 32/16rem;
                    width: 32/16rem;
                    background: black;
                    .bRad(100%);
                    -webkit-transform: scale(0.5) translateZ(0);
                    transform: scale(0.5) translateZ(0);
                    opacity: 0;
                    -webkit-transition: 0.15s @curveStandard;
                    transition: 0.15s @curveStandard;
                }
            }
        }
        >.block-body {
            >.post-block.spoil {
                background: @childSpoilColor;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.close {
            >.block-title {}
            >.block-body {
                display: none;
            }
        }
        &.open {
            >.block-title {
                .icon {
                    -webkit-transform: rotateX(180deg) translateZ(0);
                    transform: rotateX(180deg) translateZ(0);
                }
                &:first-letter {
                    text-transform: uppercase;
                }
            }
            >.block-body {
                display: block;
            }
        }
        &:after {
            position: relative;
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            z-index: 10;
        }
    }
    &.quote {
        background: none;
        border: none;
        border-left: 4/16rem solid #ccc;
        margin-left: 0;
        >.block-title {
            text-transform: none;
            //font-style: italic;
            //padding-left: 48/16rem;
            font-weight: bold;
            //padding-left: 48/16rem;
            padding-left: 8/16rem;
            padding-top: 8/16rem;
            padding-bottom: 8/16rem;
            min-height: auto;
            &.empty {
                //text-transform: uppercase;
                //display: none;
                &:before {
                    content: "Цитата";
                }
                &+.block-body {
                    //padding-top: 8/16rem;
                }
            }
            /*&:not(.empty) {
                padding-top: 8/16rem;
                padding-bottom: 8/16rem;
            }*/
            .avatar {
                position: absolute;
                left: 8/16rem;
                top: 6/16rem;
                height: 36/16rem;
                width: 36/16rem;
                background: #ccc;
                .bRad(36/16rem);
                font-size: 16/16rem;
                line-height: 36/16rem;
                text-align: center;
                font-style: normal;
                color: @primaryColor;
                text-transform: uppercase;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -1/16rem;
                    right: -1/16rem;
                    height: 16/16rem;
                    width: 16/16rem;
                    background: @linkColor;
                    .bRad(16/16rem);
                    background-image: url(../../res/chevron-left-white.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    border: 1/16rem solid white;
                    box-sizing: border-box;
                }
            }
            .title {
                //margin: -6/16rem 0;
                //margin-top: 2/16rem;
                //margin-bottom:4/16rem;
                height: 32/16rem;
                display: block;
                >* {
                    padding-left: (48-4)/16rem;
                    display: block;
                    //background: red;
                }
                .name {
                    line-height: 18/16rem;
                    //color: @linkColor;
                }
                .date {
                    color: @secondTextColor;
                    font-size: 12/16rem;
                    line-height: 12/16rem;
                    font-weight: normal;
                }
            }
            .snapback {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &:before {
                    content: none;
                }
                &:after {
                    content: none;
                }
            }
            &:after {
                //content: "";
                display: inline-block;
                position: absolute;
                left: 0/16rem;
                top: 0/16rem;
                height: 48/16rem;
                width: 48/16rem;
                background-image: url("../../res/format-quote.svg");
                background-position: center;
                background-size: 24/16rem;
                background-repeat: no-repeat;
            }
            /*a[href*=findpost] {
                background: none;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: -1/16rem;
                margin: 0;
                &:before {
                    left: 24/16rem;
                    margin-left: 0;
                }
                &:after {
                    background: black;
                    top: 14/16rem;
                    left: 16/16rem;
                }
            }*/
        }
        >.block-body {
            padding-left: 8/16rem;
            padding-bottom: 8/16rem;
            padding-top: 4/16rem;
            >.post-block {
                margin-left: -8/16rem;
            }
        }
    }
    &.code {
        //overflow: hidden;
        //padding-top: 48/16rem;
        background: none;
        //margin-left: 0;
        border: none;
        //outline: 1px solid red;
        border-left: 4/16rem solid #448d62;
        margin-left: 0;
        &.small {
            >.block-title {
                .icon {
                    display: none;
                }
            }
        }
        >.block-title {
            //outline: 1px solid red;
            //padding: 8/16rem 8/16rem;
            //padding-left: 16/16rem;
            //min-height: auto;
            padding: 8/16rem;
            min-height: auto;
            &.empty {
                &:before {
                    content: "Код";
                }
            }
            &:before {
                content: "Код: "
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            &:active {
                .icon:before {
                    opacity: 0.05;
                    -webkit-transform: scale(1) translateZ(0);
                    transform: scale(1) translateZ(0);
                }
                background: @tapColor;
            }
            >.block-controls {
                float: right;
                position: absolute;
                right: 40/16rem;
                top: 0;
                z-index: 3;
                //margin: -8/16rem;
                //margin-right: 28/16rem;
                .noselect();
                i {
                    height: 36/16rem;
                    width: 36/16rem;
                    //margin: 6/16rem 0;
                    border: @border1;
                    //border-color: rgba(0, 0, 0, 0.1);
                    border: none;
                    .bRad(2px);
                    float: right;
                    background-size: 24/16rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.wrap {
                        background-image: url(../../res/wrap.svg);
                    }
                    &.select_all {
                        background-image: url(../../res/select-all.svg);
                        margin-right: 8/16rem;
                    }
                    &:active {
                        background-color: @tapColor;
                    }
                }
            }
            .icon {
                height: 36/16rem;
                width: 40/16rem;
                position: absolute;
                right: 96/16rem;
                right: 0;
                top: 0;
                -webkit-transition: 0.225s @curveStandard;
                transition: 0.225s @curveStandard;
                -webkit-transform-origin: center;
                transform-origin: center;
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -4/16rem;
                    margin-top: -4/16rem;
                    border-left: @borderInput;
                    border-bottom: @borderInput;
                    box-sizing: border-box;
                    height: 8/16rem;
                    width: 8/16rem;
                    border-color: #000;
                    -webkit-transform: rotate(-45deg) translateY(-1/16rem) translateX(1/16rem);
                    transform: rotate(-45deg) translateY(-1/16rem) translateX(1/16rem);
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -16/16rem;
                    margin-top: -16/16rem;
                    height: 32/16rem;
                    width: 32/16rem;
                    background: black;
                    .bRad(100%);
                    -webkit-transform: scale(0.5) translateZ(0);
                    transform: scale(0.5) translateZ(0);
                    opacity: 0;
                    -webkit-transition: 0.15s @curveStandard;
                    transition: 0.15s @curveStandard;
                }
            }
        }
        >.block-body {
            font-family: @fontMono;
            //font-size: 0.875rem;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            font-family: monospace;
            position: relative;
            padding: 4/16rem 0;
            padding-left: 48/16rem;
            &:before {
                //content: "";
                position: absolute;
                left: 16/16rem;
                top: 0;
                bottom: 0;
                width: 28/16rem;
                border-left: 4/16rem solid #448d62;
                box-sizing: content-box;
            }
            .lines {
                background: linear-gradient(rgba(130, 130, 130, 0.1) 20/16rem, transparent 20/16rem);
                background-size: 100% 40/16rem;
                background-position: 0 0;
                background-repeat: repeat-y;
                //outline: 1px solid red;
                color: #448d62;
                counter-reset: line;
                overflow: hidden;
                overflow-x: auto;
                white-space: pre;
                word-break: normal;
                word-wrap: normal;
                font-size: 12/16rem;
                line-height: 20/16rem;
                >div {
                    display: block;
                    counter-increment: list;
                    min-height: 20/16rem;
                    &:before {
                        content: counter(list);
                        position: absolute;
                        font-size: 14/16rem;
                        left: 0/16rem;
                        width: 28/16rem;
                        //background: red;
                        padding-left: 8/16rem;
                        //text-align: center;
                        white-space: nowrap;
                        color: @secondTextColor;
                        box-sizing: border-box;
                        .noselect();
                        pointer-events: none;
                    }
                }
            }
        }
        &.box {
            >.block-body {
                max-height: 11.5em;
                overflow: hidden;
                position: relative;
            }
        }
        &.unbox {
            >.block-title {
                .icon {
                    -webkit-transform: rotateX(180deg) translateZ(0);
                    transform: rotateX(180deg) translateZ(0);
                }
            }
        }
        &.wrap {
            >.block-title {
                .block-controls .wrap {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
            .block-body {
                .lines {
                    white-space: pre-wrap;
                    word-break: break-word;
                    word-wrap: normal;
                }
            }
        }
    }
    &.hidden {
        >.block-title {
            display: none;
        }
        >.block-body {
            padding-top: 1em;
        }
    }
    &.tbl {
        >* {
            vertical-align: middle;
        }
        a {
            color: @linkColor!important;
            >* {
                color: @linkColor!important;
            }
        }
        >.block-title {
            text-align: center!important;
            font-size: 0rem;
            text-transform: uppercase;
            &:before {
                font-size: 20/16rem;
            }
        }
        >.block-body {
            .post-block {
                /*.bRad(2px);
                border-left: @border1;
                border-right: @border1;
                margin-left: 0!important;
                margin-right: 0!important;*/
            }
        }
        &.ex {
            background: @exColorBlock;
            border: 1px solid @exColorBlock;
            >.block-title {
                color: @exColor!important;
                &:before {
                    content: "Админ";
                }
            }
        }
        &.mod {
            background: @modColorBlock;
            border: 1px solid @modColorBlock;
            >.block-title {
                color: @modColor!important;
                &:before {
                    content: "Модератор";
                }
            }
        }
        &.cur {
            background: @curColorBlock;
            //border: 1px solid @curColorBlock;
            >.block-title {
                color: @curColor!important;
                &:before {
                    content: "Куратор";
                }
            }
        }
    }
}

.searchlite {
    background: #ffaa00!important;
    color: black!important;
    font-weight: bold!important;
    text-decoration: none!important;
    padding: 4/16rem;
    .bRad(2px);
}

a.snapback {
    //background: red;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    &:before {
        content: "@";
        //vertical-align: middle;
        //font-size: 20/16em;
        //line-height: 16/16em;
        position: relative;
        font-family: @font;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        top: -8/16em;
        left: -8/16em;
        height: 36/16em;
        width: 36/16em;
    }
}


/*a[href*=findpost][title="Перейти к сообщению"] {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    position: relative;
    margin-right: 0/16rem;
    background: red;
    img {
        display: none;
    }
    &:before {
        //content: "";
        display: block;
        height: 0.4375rem;
        width: 0.4375rem;
        box-sizing: border-box;
        border: @borderInput;
        border-color: white;
        border-top: none;
        border-right: none;
        top: 50%;
        margin-top: -0.1875rem;
        left: 50%;
        margin-left: -0.125rem;
        position: absolute;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        z-index: 1;
    }
    &:after {
        //content: "";
        position: absolute;
        width: 20/16rem;
        height: 20/16rem;
        background: black;
        top: 0rem;
        left: 0rem;
        .bRad(20/16rem);
    }
}*/

.attach_block {
    display: block;
    padding-left: 56/16rem;
    padding-top: 4/16rem;
    padding-bottom: 4/16rem;
    padding-right: 8/16rem;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: text-bottom;
    text-decoration: none;
    //margin-bottom: 8/16rem;
    //margin: 0 4/16rem;
    //margin-bottom: 4/16rem;
    border: 1px solid fade(@linkColor, 10%);
    background: fade(@linkColor, 5%);
    border-radius: 2/16rem;
    .icon {
        position: absolute;
        top: 4/16rem;
        left: 4/16rem;
        height: 40/16rem;
        width: 40/16rem;
        border-radius: 100%;
        background: @linkColor;
        &:after {
            content: "";
            position: absolute;
            height: 40/16rem;
            width: 40/16rem;
            background-color: white;
            -webkit-mask: url(../../res/file.svg) no-repeat center center;
            -webkit-mask-size: 20/16em 20/16em;
        }
    }
    .title {
        //white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        display: block;
    }
    .desc {
        font-size: 14/16rem;
        color: @secondTextColor;
        display: block;
        font-weight: normal;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.attachments {
    background: @postBlockBg;
    margin: 8/16rem -16/16rem;
    position: relative;
    .title {
        padding: 12/16rem 16/16rem;
        font-weight: bold;
        font-size: 14/16rem;
    }
    .scroll_container {
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;
        line-height: 0;
        padding: 0 8/16rem;
        .attach {
            display: inline-block;
            width: 128/16rem;
            height: 128/16rem;
            position: relative;
            margin: 8/16rem;
            background: white;
            .bRad(4/16rem);
            overflow: hidden;
            box-shadow: 0 1px 3px fade(#000, 24%);
            font-size: 16/16rem;
            line-height: 20/16rem;
            white-space: normal;
            color: white;
            .meta {
                position: absolute;
                box-sizing: border-box;
                &.name {}
                &.count {}
                &.weight {}
                &.extension {}
            }
            &.file {
                .meta {
                    &.name {
                        background: rgba(0, 0, 0, 0.25);
                        .bRad(0 0 4/16rem 4/16rem);
                        .bRad(2/16rem);
                        line-height: 20/16em;
                        bottom: 4/16rem;
                        right: 4/16rem;
                        left: 4/16rem;
                        font-size: 12/16rem;
                        text-align: center;
                        padding: 2/16rem 2/16rem;
                        //height: ((20*2)+(4*2))/16em;
                        /*overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    &:hover{
                        -webkit-line-clamp: 10;
                    }*/
                        .weight {
                            display: block;
                            font-weight: bold;
                        }
                    }
                    &.count {
                        right: 4/16rem;
                        top: 4/16rem;
                        font-size: 12/16rem;
                        line-height: 20/16rem;
                        border-radius: 2/16rem;
                        padding: 2/16rem 4/16rem;
                        padding-left: 24/16rem;
                        background: rgba(0, 0, 0, 0.25);
                        background-image: url(../../res/download.svg);
                        background-repeat: no-repeat;
                        background-size: 16/16rem;
                        background-position: 4/16rem 4/16rem;
                        font-weight: bold;
                    }
                    &.weight {
                        right: 4/16rem;
                        top: 4/16rem;
                        width: auto;
                        padding: 2/16rem 4/16rem;
                        font-size: 12/16rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        background: rgba(0, 0, 0, 0.25);
                        text-align: center;
                        display: none;
                    }
                    &.extension {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        color: #212121;
                        text-align: center;
                        line-height: 104/16rem;
                        font-size: 32/16rem;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
            &.picture {
                .meta {
                    &.weight,
                    &.extension {
                        padding: 2/16rem 8/16rem;
                        right: 4/16rem;
                        bottom: 4/16rem;
                        font-size: 12/16rem;
                        background: rgba(0, 0, 0, 0.25);
                        border-radius: 2/16rem;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                .image {
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    .bRad(4/16rem);
                }
            }
        }
    }
}
