@import "../config_vars";

/*Curves*/

@curveStandard: cubic-bezier(0.4, 0.0, 0.2, 1);
@curveEaseOut: cubic-bezier(0.0, 0.0, 0.2, 1);
@curveEaseIn: cubic-bezier(0.4, 0.0, 1, 1);
@curveSharp: cubic-bezier(0.4, 0.0, 0.6, 1);

/*Fonts*/

@font: "Roboto",
sans-serif;
@fontMono: "Roboto Mono",
monospace;

/*Color scheme*/

@colorPrimary: @light_colorPrimary;
@colorPrimaryDark: @light_colorPrimaryDark;
@colorAccent: @light_colorAccent;
@link_color: @light_link_color;
@link_color_contrast: @light_link_color_contrast;
@default_text_color: @light_default_text_color;
@contrast_text_color: @light_contrast_text_color;
@second_text_color: @light_second_text_color;
@background_base: @light_background_base;
@background_for_cards: @light_background_for_cards;
@background_for_lists: @light_background_for_lists;
@divider_line: @light_divider_line;
@icon_base: @light_icon_base;
@icon_base_inverse: @light_icon_base_inverse;
@icon_toolbar: @light_icon_toolbar;
@icon_toolbar_inverse: @light_icon_toolbar_inverse;
@card_background: @light_card_background;
@icon_post_menu_src: @light_icon_post_menu_src;
@icon_wrap_src: @light_icon_wrap_src;
@icon_select_all_src: @light_icon_select_all_src;
@icon_link_src: @light_icon_link_src;
@tapColor: fade(@colorAccent, 5%);

/* NEW COLORS */

@avatar_letter_color: @contrast_text_color;
@avatar_background: darken(#fff, 25%);
@avatar_overlap_color: @card_background;
@avatar_overlap_background: darken(#fff, 50%);
@button_selected_background: @tapColor;
@poll_range_bar_background: fade(#000, 10%);
@attachment_background: fade(@link_color, 5%);
@attachment_border: fade(@link_color, 10%);
@quote_border_color: darken(#fff, 25%);
@code_border_color: #448d62;
@code_text_color: #448d62;

/*Elements colors*/

@border1: 1/16rem solid fade(#000, 5%); //Основной бордер
@borderInput: 2/16rem solid fade(#000, 50%); //Основной бордер
@userOnlineColor: #12b557; //Цвет ника онлайн

/*Post blocks*/

@postBlockBg: fade(#000, 5%);
@childSpoilColor: fade(#000, 3%);
@exColor: #e74c3c;
@exColorBlock: fade(@exColor, 10%);
@curColor: #12b557;
@curColorBlock: fade(@curColor, 10%);
@modColor: #2980b9;
@modColorBlock: fade(@modColor, 10%);


.mainBox() {
    background: @card_background;
    margin: 8/16em 0;
    box-shadow: 0rem 1/16rem 1/16rem fade(#000, 12%),
        0rem 0rem 1/16rem fade(#000, 12%);
}

.bRad(@param) {
    -webkit-border-radius: @param;
    border-radius: @param;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
